apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: petclinic-mysql
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/kyawzawaungdevops/kyawzawaung-assignment
    targetRevision: main
    path: helm/database

  destination:
    server: https://kubernetes.default.svc
    namespace: database

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
