# helm/application/templates/namespace.yaml

{{- if .Values.namespace.create -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    name: {{ .Values.namespace.name }}
    managed-by: "argocd"
{{- end -}}